In [1]:
import pandas as pd

In [2]:
#create a pandas dataframe that has
cars = [['Toyota', 2017, 'blue'], ['Toyota', 2015, 'black'], ['BMW', 2015, 'white'], ['Hyundai', 2017, 'blue'], ['BMW', 2019, 'blue']]

In [7]:
df_cars = pd.DataFrame(cars, columns=['Model', 'Year', 'Color'])

In [8]:
df_cars

     Model  Year  Color
0   Toyota  2017   blue
1   Toyota  2015  black
2      BMW  2015  white
3  Hyundai  2017   blue
4      BMW  2019   blue

In [10]:
groups = df_cars.groupby('Model')

In [11]:
groups

In [13]:
#use aggregate function only on groupby object
#sum, std, mean, min, max, count
groups.count()

         Year  Color
Model
BMW         2      2
Hyundai     1      1
Toyota      2      2

In [15]:
groups.count()['Color']

Model
BMW        2
Hyundai    1
Toyota     2
Name: Color, dtype: int64

In [2]:
import pandas as pd

In [4]:
phone_data = pd.read_csv('phone_data.csv')

In [5]:
groups = phone_data[phone_data['item'] == 'call'].groupby('network')

In [8]:
groups.count()['item']

network
Meteor        54
Tesco         71
Three        128
Vodafone      66
landline      42
voicemail     27
Name: item, dtype: int64

In [1]:
#How many rows and columns are there?
#What is the average Purchase Price?
#What were the highest and lowest purchase prices?
#How many people have English 'en' as their Language of choice on the website?
#How many people have the job title of "Lawyer" ?
#How many people made the purchase during the AM and how many people made the purchase during PM ?
#What are the 5 most common Job Titles?
#What is the email of the person with the following Credit Card Number: 4926535242672853
#How many people have American Express as their Credit Card Provider and made a purchase above $95 ?
#Hard: What are the top 5 most popular email providers/hosts (e.g. gmail.com, yahoo.com, etc...)

In [3]:
e_data = pd.read_csv('ecommerce.csv')

In [4]:
e_data

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\r\nAlexisborough, NE ...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\r\nSouth John, TN...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\r\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\r\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\r\nNew Cynthia, TX...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,"966 Castaneda Locks\r\nWest Juliafurt, CO 96415",92 XI,PM,Mozilla/5.0 (Windows NT 5.1) AppleWebKit/5352 ...,Randall-Sloan,342945015358701,03/22,838,JCB 15 digit,iscott@wade-garner.com,Printmaker,29.73.197.114,it,82.21
9996,"832 Curtis Dam Suite 785\r\nNorth Edwardburgh,...",41 JY,AM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Hale, Collins and Wilson",210033169205009,07/25,207,JCB 16 digit,mary85@hotmail.com,Energy engineer,121.133.168.51,pt,25.63
9997,Unit 4434 Box 6343\r\nDPO AE 28026-0283,74 Zh,AM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7...,Anderson Ltd,6011539787356311,05/21,1,VISA 16 digit,tyler16@gmail.com,Veterinary surgeon,156.210.0.254,el,83.98
9998,"0096 English Rest\r\nRoystad, IA 12457",74 cL,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_8;...,Cook Inc,180003348082930,11/17,987,American Express,elizabethmoore@reid.net,Local government officer,55.78.26.143,es,38.84
9999,"40674 Barrett Stravenue\r\nGrimesville, WI 79682",64 Hr,AM,Mozilla/5.0 (X11; Linux i686; rv:1.9.5.20) Gec...,Greene Inc,4139972901927273,02/19,302,JCB 15 digit,rachelford@vaughn.com,"Embryologist, clinical",176.119.198.199,el,67.59

In [5]:
#How many rows and columns are there?
e_data.shape

(10000, 14)

In [6]:
e_data.columns

Index(['Address', 'Lot', 'AM or PM', 'Browser Info', 'Company', 'Credit Card',
       'CC Exp Date', 'CC Security Code', 'CC Provider', 'Email', 'Job',
       'IP Address', 'Language', 'Purchase Price'],
      dtype='object')

In [17]:
#What is the average Purchase Price? 
e_data['Purchase Price'].mean() #or use ,describe()

50.34730200000025

In [21]:
#What were the highest and lowest purchase prices?
e_data['Purchase Price'].max()

99.99

In [19]:
e_data['Purchase Price'].min()

0.0

In [42]:
#How many people have English 'en' as their Language of choice on the website?
language_groups = e_data[e_data['Language'] == 'en'].groupby('Language')

In [47]:
language_groups.count()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Purchase Price
Language,,,,,,,,,,,,,
en,1098,1098,1098,1098,1098,1098,1098,1098,1098,1098,1098,1098,1098

In [53]:
#How many people have the job title of "Lawyer"?
lawyers = e_data[e_data['Job'] == 'Lawyer'].groupby('Job')

In [54]:
lawyers.count()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,IP Address,Language,Purchase Price
Job,,,,,,,,,,,,,
Lawyer,30,30,30,30,30,30,30,30,30,30,30,30,30

In [55]:
#How many people made the purchase during the AM and how many people made the purchase during PM?
time_am = e_data[e_data['AM or PM'] == 'AM'].groupby('AM or PM')

In [56]:
time_pm = e_data[e_data['AM or PM'] == 'PM'].groupby('AM or PM')

In [57]:
time_am.count()

,Address,Lot,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
AM or PM,,,,,,,,,,,,,
AM,4932,4932,4932,4932,4932,4932,4932,4932,4932,4932,4932,4932,4932

In [58]:
time_pm.count()

,Address,Lot,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
AM or PM,,,,,,,,,,,,,
PM,5068,5068,5068,5068,5068,5068,5068,5068,5068,5068,5068,5068,5068

In [62]:
#What are the 5 most common Job Titles?
e_data['Job'].value_counts()

Interior and spatial designer    31
Lawyer                           30
Social researcher                28
Purchasing manager               27
Designer, jewellery              27
                                 ..
Music therapist                   7
Editor, film/video                6
Actuary                           6
Information systems manager       5
Investment analyst                5
Name: Job, Length: 623, dtype: int64

In [65]:
#What is the email of the person with the following Credit Card Number: 4926535242672853
e_data[e_data['Credit Card'] == 4926535242672853][['Email']]

                             Email
1234  bondellen@williams-garza.com

In [73]:
#How many people have American Express as their Credit Card Provider and made a purchase above $95?
e_data[(e_data['CC Provider'] == 'American Express') & (e_data['Purchase Price'] > 95)].count()['Job']

39

In [84]:
def add_s(incoming):
    if len(incoming) > 0:
        return incoming + 's'
    else:
        return incoming

In [79]:
#function to get provider from email address
def get_provider(incoming):
    return incoming.split('@')[1]

In [75]:
#use apply function, apply takes a function and a value, and uses that function to transform the value
#add s to my language column

In [77]:
e_data['Languages'] = e_data['Language'].apply(add_s)

In [78]:
e_data.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price,Languages
0,"16629 Pace Camp Apt. 448\r\nAlexisborough, NE ...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14,els
1,"9374 Jasmine Spurs Suite 508\r\nSouth John, TN...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73,frs
2,Unit 0065 Box 5052\r\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95,des
3,"7780 Julia Fords\r\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04,ess
4,"23012 Munoz Drive Suite 337\r\nNew Cynthia, TX...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82,ess

In [80]:
e_data['Providers'] = e_data['Email'].apply(get_provider)

In [81]:
e_data.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price,Languages,Providers
0,"16629 Pace Camp Apt. 448\r\nAlexisborough, NE ...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14,els,yahoo.com
1,"9374 Jasmine Spurs Suite 508\r\nSouth John, TN...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73,frs,reed.com
2,Unit 0065 Box 5052\r\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95,des,morales-harrison.com
3,"7780 Julia Fords\r\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04,ess,olson-robinson.info
4,"23012 Munoz Drive Suite 337\r\nNew Cynthia, TX...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82,ess,gmail.com

In [85]:
#Hard: What are the top 5 most popular email providers/hosts (e.g. gmail.com, yahoo.com, etc...)
e_data['Providers'].value_counts()

hotmail.com            1638
yahoo.com              1616
gmail.com              1605
smith.com                42
williams.com             37
                       ...
carroll-hensley.net       1
scott.org                 1
torres.net                1
snow.com                  1
vasquez-riddle.com        1
Name: Providers, Length: 3416, dtype: int64